---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Header from '../components/Header.astro'
import MastHead from '../components/MastHead.astro'
import { Image } from '@astrojs/image/components'
// import Navbar from '../components/Navbar'

const posts = (await Astro.glob('./blog/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class="pt-[60px]">
      <MastHead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at molestie
            velit. Suspendisse ac ullamcorper nibh. Integer a quam ipsum. Quisque
            porta orci at mauris commodo, vel euismod leo hendrerit. Quisque cursus
            commodo auctor. Cras id placerat nulla, in venenatis leo. Vestibulum
            a orci tristique leo pulvinar hendrerit ut id ante. Phasellus et porttitor
            dolor. Fusce sit amet cursus nisl. Vestibulum eu placerat augue. Mauris
            in mauris in ante tincidunt eleifend at vitae mi. Donec viverra quis
            massa quis vulputate. Nulla vitae nibh vel orci convallis facilisis quis
            nec arcu. Integer faucibus gravida dolor, id dignissim nulla vulputate
            nec. In a lorem at diam mollis ultricies eget eu magna. Nam ut nisl sed
            arcu fringilla varius. Maecenas non neque sed neque rutrum cursus ac
            id tellus. Aenean nec dictum nisi. Cras vitae nisi blandit odio congue
            auctor. Pellentesque nec euismod ipsum. Maecenas in lorem lorem. Donec
            massa ligula, tincidunt varius ex nec, finibus egestas massa. Mauris
            risus velit, dictum id velit eget, convallis finibus orci. Suspendisse
            tincidunt ornare erat, sit amet fermentum turpis condimentum in. Aliquam
            accumsan egestas dui quis dictum. Nulla id leo lectus. Etiam eget enim
            sit amet mi vehicula volutpat nec non lectus. Nam at dapibus mauris.
            Quisque est leo, varius non est sit amet, ornare aliquam dolor. Ut elementum,
            lacus ac vestibulum finibus, orci ex pretium massa, id aliquet massa
            erat ac felis. Sed accumsan ex vitae sagittis venenatis. Proin eu efficitur
            justo. Integer lobortis purus sit amet quam egestas, eget aliquam sapien
            sodales. Vivamus id nibh convallis, blandit augue vitae, gravida leo.
            Donec nec efficitur massa, ac fringilla massa. Donec justo quam, commodo
            id dolor ac, condimentum gravida quam.
          </p>
        </section>

        <section class="mt-8">
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => (
                <>
                  <a href={post.url}>
                    <Image
                      class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                      src={post.frontmatter.heroImage}
                      width={720 * 2}
                      height={480 * 2}
                      aspectRatio={2.0}
                      alt="Thumbnail"
                    />
                    <li class="text-center mb-4">
                      <div class="mt-3 text-3xl">{post.frontmatter.title}</div>
                      <div class="opacity-70">
                        {post.frontmatter.description}
                      </div>
                    </li>
                  </a>
                </>
              ))
            }
          </ul>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
