---
import BaseHead from '../components/Head/BaseHead.astro'
import Footer from '../components/Core/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Body from '../components/Core/Body.astro'
import Content from '../components/Core/Content.astro'
import Header from '../components/Header.astro'
import { Image } from '@astrojs/image/components'
import Hero from '../components/Hero.astro'

const posts = (await Astro.glob('./blog/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Important for under the hood stuff -->
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <!-- `Body` is essential because it wraps everything in tailwind themeing -->
  <Body>
    <Header />
    <main class="pt-[60px]">
      <Hero />
      <Content>
        <section>
          <h1 class="text-4xl font-bold tracking-tight sm:text-6x">
            Warm Welcome
          </h1>
          <br />
          <p class="mb-8 indent-4">
            Thanks for stopping by. I am a fullstack developer that can create
            web applications as well as phone applications for iOS and Android.
            I am currently going to the University of Texas at San Antonio to
            study cybersecurity. Hopefully through this website I will be able
            to post usecases and my projects fleshed out in clean and easy to
            read blog posts.

            <br />
            <br />
            This website will have my Github page, which you can find all my projects.
            I will also be trying out blogging for awhile. I'm not trying to build
            an audience or following or anything, I just want to type out my thoughts
            and post it as an online journal.
            <br />
            <br />
            Hopefully you find something useful here.
          </p>
          <></>

          <section class="mt-8">
            <h1 class="text-4xl font-bold tracking-tight sm:text-6x">
              Blog Post Overview
            </h1>
            <br />
            <br />

            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
              {
                posts.map(post => (
                  <>
                    <a href={post.url}>
                      <Image
                        class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                        src={post.frontmatter.heroImage}
                        width={720 * 2}
                        height={480 * 2}
                        aspectRatio={2.0}
                        alt="Thumbnail"
                      />
                      <li class="text-center mb-4">
                        <div class="mt-3 text-3xl">
                          {post.frontmatter.title}
                        </div>
                        <div class="opacity-70">
                          {post.frontmatter.description}
                        </div>
                      </li>
                    </a>
                  </>
                ))
              }
            </ul>
          </section>
        </section>
      </Content>
      <Footer />
    </main>
  </Body>
</html>
